In [5]:
import pandas as pd
import numpy as np
import mysql.connector
import config

import seaborn as sns
import matplotlib.pyplot as plt
%matploblib inline

UsageError: Line magic function `%matploblib` not found.

# Initial run: pretty low R, around .19
# so we're missing pieces of the puzzle

### You could definitely boost the R by adding in 'amount of coal burned'
### but that would defeat the purpose of a socioeconomic analysis of pollution

### let's pull some more data

In [7]:
# grabbed gini coefficients from world bank
gini = pd.read_csv('gini.csv')

In [16]:
gin = gini.loc[:,'2010':'2018']

In [18]:
gin.isna().sum() # wow that's a lot of nulls for a

2010    180
2011    187
2012    185
2013    188
2014    188
2015    189
2016    225
2017    239
2018    264
dtype: int64

In [12]:
len(gini)

264

In [11]:
gini.isna().sum()

Country Name        0
Country Code        0
Indicator Name      0
Indicator Code      0
1960              264
1961              264
1962              264
1963              264
1964              264
1965              264
1966              264
1967              264
1968              264
1969              264
1970              264
1971              264
1972              264
1973              264
1974              264
1975              264
1976              264
1977              264
1978              264
1979              261
1980              262
1981              257
1982              263
1983              261
1984              259
1985              255
                 ...
1990              248
1991              250
1992              238
1993              241
1994              242
1995              239
1996              234
1997              242
1998              227
1999              236
2000              230
2001              230
2002              217
2003              209
2004              193
2005              189
2006              190
2007              192
2008              191
2009              186
2010              180
2011              187
2012              185
2013              188
2014              188
2015              189
2016              225
2017              239
2018              264
Unnamed: 63       264
Length: 64, dtype: int64